* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 14px;
}

.location {
  border-bottom: 1px solid black;
  display: inline-block;
  font-size: 18px;
  padding: 1%;
  width: 100%;
}

.location:hover {
  background-color: #696969;
}

.content {
  font-size: 14px;
  float: center;
  margin: 1%;
  padding: 1%;
  display: inline-block;
}

.content:hover {
  background-color: #696969;
}

.content h1 {
  font-size: 1.1rem;
  padding-bottom: 1.4%;
  font-weight: bold;
}

.container {
  background-color: #aaa;
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  position: fixed;
  padding: 10px 0 15px 15px;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  padding-top: 50px;
}

.arrow {
  float: right;
  display: inline-block;
  margin-top: 20px;
}

.arrow i {
  font-size: 1em;
}
